@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

:root{
--Light-red: hsl(0, 100%, 67%);
--Orangey-yellow: hsl(39, 100%, 56%);
--Green-teal: hsl(166, 100%, 37%);
--Cobalt-blue: hsl(234, 85%, 45%);

--Light-slate-blue-background: hsl(252, 100%, 67%);
--Light-royal-blue-background: hsl(241, 81%, 54%);
--Violet-blue-circle: hsla(256, 72%, 46%, 1);
--Persian-blue-circle: hsla(241, 72%, 46%, 0);

--White: hsl(0, 0%, 100%);
--Pale-blue: hsl(221, 100%, 96%);
--Light-lavender: hsl(241, 100%, 89%);
--Dark-gray-blue: hsl(224, 30%, 27%);

}


*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-family: 'Hanken Grotesk', sans-serif;
}

.container{
    max-width: 600px;
}

.top{
    background-image: linear-gradient(var(--Light-slate-blue-background), var(--Light-royal-blue-background));
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px 40px;
    border-radius: 0 0 30px 30px;
}

.top h3{
    color: var(--Light-lavender);
    font-weight: 500;
    padding-bottom: 20px;
}

.result{
    border-radius: 50%;
    background-image: linear-gradient(var(--Light-royal-blue-background), var(--Light-slate-blue-background));
    height: 80px;
    width: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    margin-bottom: 20px;


}

.result .score{
    color: var(--White);
    font-size: 2.8rem;
    font-weight: 800;
}

.result .max-score{
    color: var(--Light-lavender);
    font-size: 14px;
}

.top h2{
    color: var(--White);
    font-weight: 500;
    margin-bottom: 5px;
}

.top .result-text{
    color: var(--Light-lavender);
    font-size: 17px;
}

.bottom{
    display: flex;
    flex-direction: column;
    padding: 15px;

}

.bottom h2{
    font-size: 18px;
    margin-bottom: 10px;
    color: var(--Dark-gray-blue);
}

.component{
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}



.icon-img{
    padding: 0;
    margin-right: 10px;
    width: 17px;
}

.component .title{
    display: flex;
    align-items: center;
}

.reaction-sec{
    background-color: hsla(0, 100%, 67%, 0.07);
    border-radius: 5px;
}

.title .reaction {
    color: var(--Light-red);
}

.memory-sec{
    background-color: hsla(39, 100%, 56%, 0.07);
    border-radius: 5px;
}

.title .memory{
    color: var(--Orangey-yellow);
}

.verbal-sec{
    background-color: hsla(166, 100%, 37%, 0.07);
    border-radius: 5px;
}

.title .verbal{
    color: var(--Green-teal);
}

.visual-sec{
    background-color: hsla(234, 85%, 45%, 0.07);
    border-radius: 5px;
}

.title .visual{
    color: var(--Cobalt-blue);
}

.component .score{
    color: rgb(138, 130, 130);
}

.component .your-score{
    color: var(--Dark-gray-blue);
    font-weight: 700;
}

.bottom button{
    padding: 15px;
    border-radius: 20px;
    background-color: var(--Dark-gray-blue);
    color: var(--Pale-blue);
    border: none;
    font-weight: 700;
    cursor: pointer;
}

.bottom button:hover{
    background-color: var(--Cobalt-blue);
}


@media (min-width: 600px){

    body{
        height: 100vh;
        align-items: center;
    }
    .container{
        min-width: 40%;
        display: flex;
        border-radius: 30px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

    }

    .top{
        box-sizing: border-box;
        width: 50%;
        padding: 30px 20;
        justify-content: space-between;
        border-radius: 30px;
    }

    .bottom{
        margin: auto;
    }

    .component{
        gap: 60px;
    }
}



